.abt1 {
  display: flex;
  /* margin-top: 50px; */
  gap: 10px;
}

.ab {
  margin-top: 100px;
}
.ab2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.abt2 {
  width: 517px;

  span {
    color: red;
  }
}
.abtr {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bun2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 768px) {
  .abt1 img {
    width: 45%;

  }

  .abt1 {
    position: relative;
    margin-top: 30px;
  }

  .ab {
    margin-top: 30px;
    margin-left: 15px;
  }
  .ab2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .abt2 {
    margin-top: 20px;
    width: 90%;
  }

  .abt2 h3 {
    font-size: 25px;
  }
  .abt2 p {
    font-size: 20px;
  }

  .abtr {
    display: flex;
    flex-direction: column;
  }


}
