.logo1{
    background-color:rgba(0, 0, 0, 0.747);
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-around;

   
}
.navbar{
    /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 30px;
    

    a{
        color: white;
        text-decoration: none;

    }
    a:hover{
        color: red;
    }
}

@media screen and (max-width:768px) {
    .navbar{
        display: none;
    }
    .logo1{
        width: 50%;
        img{
            width: 70%;
        }
    }
}