.uphe1{
    display: flex;
    align-items: center;
    background-image: url("../../../Alphaimages/Aboutp.png");
    background-size: cover;
    height: 300px;

    h3{
        color: white;
    }
}
.arrow2{
    color: red;
    margin-left: 100px;
}
@media screen and (max-width: 768px) {
    .uphe1 h3{
    font-size: 25px; 
    margin-left: -0px;

    
}
.uphe1{
    width: 100%;
    height: 200px;
    background-position: center;
}
.uphe1 .arrow2{
    margin-left: 10px;
}

    
}




