
  .past1{
       display: flex;
     align-items: center;
  width: 40%;
  padding-top: 30px;
  margin-left: 50px;

  }
  .past2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    overflow: hidden;
  }
  @media screen and (max-width:768px){
    .past2{
      display: flex;
      flex-direction: column;
      img{
        /* width: 120px; */
      }

    }
    .past1{
      h3{
        font-size: 10px;
      }
    }
    .pros{
      p{
        font-size: 13px;
      }
    }









  }



