.galleon1{
    /* background-color: red; */
    margin-top: 100px;
    /* width: 100%; */
    display: flex;
    gap: 40px;
    justify-content: center;



    
    
    
    
}
.gall1{
    /* background-color: cyan; */
    width: 40%;

    span{
        color: red;
    }

    p{
      text-align: start;
    }


    .gabb1 {
  background-color:white;
  color: red;
  width: 140px;
  height: 40px;
  outline-color: black;
border: black;
  
}

.gabb1:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}
}
.picsholder{
    flex-direction: column;
    /* background-color: yellow; */
    display: flex;
    /* align-items: center; */
    /* width: 50%; */

    
}
.gabb1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width:768px) {
  .picsholder{
    /* margin-right: 10px; */
    img{
      margin-left: 10px;
      width: 95%;
    }

  }
  .gall1{
    margin-left: 10px;
    width: 85%;
  h3{
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
}
.galleon1{
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  
  /* margin-top: 400px; */
}



}

