.pics1{
    background-color: yellow;
    background-size: cover;
    background-image: url("../../../Alphaimages/2149452704.jpg");
    overflow: hidden;
    width: 100%;
    height: 800px;
    position: absolute;
}

.htext{
    /* background-color: red; */
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    span{
        color: yellow;
    }


    P{
        text-align: center;
    }


}
button {
  background-color:white;
  color: red;
  width: 140px;
  height: 40px;
  outline: none;
  border: none;
  
}

button:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}



.overlay{
    background-color: rgba(14, 12, 12, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20px;
    height: 100%;
    width: 100%;
}
@media screen and (max-width:768px) {
    .pics1{
        background-position: center;
        height: 400px;
        /* position: absolute; */
    }
    .htext{
       
        h1{
            font-size: 10px;
        }
        p{
            font-size: 10px;
        }
        
    }
    button{
        width: 90px;
        height: 20px;
        font-size: 10px;

    }
    
}