.voun {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  padding: 30px 0px 30px 0px;
  color: white;

}
.voun p {
  text-align: center;
  margin: 0px;
}
.voun h1 {
  margin: 0px;
}
 .voou {
  background-color:white;
  color: red;
  width: 140px;
  height: 40px;
  outline-color: black;
border: black;
  
}

.voou:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}














@media screen and (max-width: 768px) {
  .voun h1 {
    font-size: 40px;
    /* margin: 0px; */
  }
  .voun p {
    font-size: 18px;
    margin: -10px;
  }
.voun{
    
    padding: 20px 5px 20px 5px;
    width: 100%;
 
    
}


}
