
.new {
  margin-top: 40px;
  text-align: center;
}



.val2{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.val1 img{
    width: 194px;
}

.even .val1, .even .valt{
    padding: 15px  ;
}

.val2 h4{
    margin-top: -2px;
}

.val2 p{
    margin: 0px;
    width: 294px;
    font-size: 12px;
}

.even{
    /* background-color: yellow; */
    width: 556px;   
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stat-header{
    display: flex;
    gap: 20px;
    
}

.stat{
    /* background-color: cyan; */
    width: 50px;
    margin-top: 20px;
    
}

.stat h4{
    margin-bottom: -20px;
}
.stat h5{
    color: red;
}

.event-card{ 
    /* margin-right: 30px; */
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.event-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
