
.jat {
  margin-top: 40px;
  text-align: center;
}



.val2{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.val1 img{
    width: 194px;
}

.eve4 .val1, .eve4 .valt{
    padding: 15px  ;
}

.val2 h4{
    margin-top: -2px;
}

.val2 p{
    margin: 0px;
    width: 294px;
    font-size: 12px;
}

.eve4{
    /* background-color: yellow; */
    width: 556px;   
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stat-header{
    display: flex;
    gap: 20px;
    
}

.stat{
    /* background-color: cyan; */
    width: 50px;
    margin-top: 20px;
    
}

.stat h4{
    margin-bottom: -20px;
}
.stat h5{
    color: red;
}

.event-card2{ 
    
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.events-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 768px){
.jat{
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}
.val1 img{
    padding-top: 20px;
    width: 300px;
    align-items: center;
}
.event-card2{
    margin-left:50px ;
}


.vallt{
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
}
.eve4{
    width: 330px;
    text-align: center;
    flex-direction: column;
}
.events-row{
    
    grid-template-columns: 1fr;
}









}
