.opro {
  display: flex;
  align-items: center;
  background-image: url("../../../Alphaimages/Aboutp.png");
  background-size: cover;
  height: 300px;

  h3 {
    color: white;
  }
}
.arrow3 {
  color: red;
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .opro h3 {
    font-size: 25px;
    margin-left: -0px;
  }

  .opro {
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .opro .arrow3{
    margin-left: 10px;
  }





}
