.Numb1 {
  background-color: white;
  width: 15%;
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(24, 23, 21, 0.178) 0px 3px 8px;
  padding-bottom: 10px;
  padding-top: 10px;

  h1 {
    font-size: 60px;
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}
.Numbb :hover {
  background-color: yellow;
}
.line {
  background-color: red;
  border: 1px solid red;
  width: 30%;
}
.Numbb {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  bottom: -750px;
}
@media screen and (max-width: 768px) {
  .Numb1 {
    text-align: center;
    
    width: 250px;
    height: 70px;
    h1 {
      font-size: 20px;
    }
    h3 {
      font-size: 12px;
    }
  }

  .Numbb {
    /* position: relative; */
    display: flex;
    gap: 10px;
    bottom: -370px;
  }








}

