.Numb1 {
  background-color: white;
  width: 15%;
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;

  h1 {
    font-size: 60px;
    margin: 0;
  }
  

  h3 {
    margin: 0;
  }
}
.line {
  background-color: red;
  border: 1px solid red;
  width: 30%;
}
.Numbb {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  bottom: -750px;
  
}
@media screen and (max-width:768px) {
  .Numb1{
    width: 20%;
    h1{
      font-size: 20px;
    }
    h3{
      font-size: 10px;
    }
  }

.Numbb{
  /* position: relative; */
  bottom: -370px;
}
}

