.gallery-ico {
  display: flex;
  align-items: center;
  width: 40%;
  padding-top: 30px;
  margin-left: 50px;
}
.miss {
  /* background-color: red; */
  padding: 50px 20px 40px 20px;
  width: 573px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.miss p {
  text-align: left;
}
.miss2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
