.joy1 {
  text-align: center;
}


.valt{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.val1 img{
    width: 194px;
}

.eve2 .val1, .eve2 .valt{
    padding: 15px  ;
}

.valt h4{
    margin-top: -2px;
}

.valt p{
    text-align: start;
    margin: 0px;
    width: 294px;
    font-size: 12px;
}

.eve2{
    /* background-color: yellow; */
    width: 556px;   
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stat-header{
    display: flex;
    gap: 20px;
    
}

.stat{
    /* background-color: cyan; */
    width: 50px;
    margin-top: 20px;
    
}

.stat h4{
    margin-bottom: -20px;
}
.stat h5{
    color: red;
}

.event-card{ 
    /* margin-right: 30px; */
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.events-row1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


@media screen and (max-width:768px){
    .eve{
        margin-top: 30px;
         text-align: center;
        
    }
.joy1 h3{
    /* background-color: red; */
    font-size: 25px;
    margin: 0px;
}
.joy1 p{
    /* background-color: yellow; */

    font-size: 18px;
    margin: 0px;
}

.stat h4{
    font-size: 30px;
}
.stat h5{
    font-size: 15px;
}
.val1 img{
    width: 300px;
    padding-top: 20px;
}


.valt{
    display: flex;
    align-items: center;
    
    
    h4{
        font-size: 40px;
    }
 
}

.valt p{
    font-size: 20px;
    text-align: center;
}
.eve2{
    width: 330px;
    flex-direction: column;
    
}
.events-row1{
    grid-template-columns: 1fr;
}
.event-card{
    align-items: center;
    margin-left: 40px;

}














}