.new1 {
  margin-top: 40px;
  text-align: center;
}
.new1 h3 {
  margin: 0px;
}
.new1 p {
  margin: 0px;
}
.new2 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.new3 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  color: red;
}
.new4 {
  /* background-color: red; */
  display: flex;
}
.new5 {
  display: flex;
  margin-top: -10px;

  flex-direction: column;
  gap: 10px;
}
.new5 h4 {
  margin: 0px;
}
.new5 p {
  text-align: start;
  margin: 0px;
}

.latest-row {
  margin-top: 30px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
 .butt1 {
  background-color:white;
  color: red;
  width: 140px;
  height: 40px;
  outline-color: black;
border:1px solid black;
  
}

.butt1:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}



@media screen and (max-width:768px){
.new1{
  display: flex;
  align-items: center;
  flex-direction: column;



  h3{
    font-size: 25px;
  }
  p{
    font-size: 18px;
  }
}
.new2 h5{
  font-size: 18px;
}
.new3 h4{
  font-size: 18px;
}
.new5 p {
font-size: 30px;
/* background-color: red; */
width: 100%;
}

.latest-row{
  display: flex;
  
  flex-direction: column;
  gap: 20px;

  img{
    width: 350px;
  }


}
.new5 h4{
  font-size: 40px;

}
.butt1{
  font-size: 20px;
}

   



















}
