.gatt{
    display: flex;
    align-items: center;
    background-image: url("../../../Alphaimages/Aboutp.png");
    background-size: cover;
    height: 300px;

    h3{
        color: white;
    }
}
.arrow1{
    color: red;
    margin-left: 100px;
}

@media screen and (max-width:768px){
.gatt h3{
    font-size: 13px; 

    
}
.gatt{
    height: 100px;
    background-position: center;
    

}








}